In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('studentdepression.csv')
df

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33,Visakhapatnam,Student,5,0,8.97,2,0,'5-6 hours',Healthy,B.Pharm,Yes,3,1,No,1
1,8,Female,24,Bangalore,Student,2,0,5.90,5,0,'5-6 hours',Moderate,BSc,No,3,2,Yes,0
2,26,Male,31,Srinagar,Student,3,0,7.03,5,0,'Less than 5 hours',Healthy,BA,No,9,1,Yes,0
3,30,Female,28,Varanasi,Student,3,0,5.59,2,0,'7-8 hours',Moderate,BCA,Yes,4,5,Yes,1
4,32,Female,25,Jaipur,Student,4,0,8.13,3,0,'5-6 hours',Moderate,M.Tech,Yes,1,1,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27,Surat,Student,5,0,5.75,5,0,'5-6 hours',Unhealthy,'Class 12',Yes,7,1,Yes,0
27897,140686,Male,27,Ludhiana,Student,2,0,9.40,3,0,'Less than 5 hours',Healthy,MSc,No,0,3,Yes,0
27898,140689,Male,31,Faridabad,Student,3,0,6.61,4,0,'5-6 hours',Unhealthy,MD,No,12,2,No,0
27899,140690,Female,18,Ludhiana,Student,5,0,6.88,2,0,'Less than 5 hours',Healthy,'Class 12',Yes,10,5,No,1
27900,140699,Male,27,Patna,Student,4,0,9.24,1,0,'Less than 5 hours',Healthy,BCA,Yes,2,3,Yes,1

In [4]:
## data understanding
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33,Visakhapatnam,Student,5,0,8.97,2,0,'5-6 hours',Healthy,B.Pharm,Yes,3,1,No,1
1,8,Female,24,Bangalore,Student,2,0,5.90,5,0,'5-6 hours',Moderate,BSc,No,3,2,Yes,0
2,26,Male,31,Srinagar,Student,3,0,7.03,5,0,'Less than 5 hours',Healthy,BA,No,9,1,Yes,0
3,30,Female,28,Varanasi,Student,3,0,5.59,2,0,'7-8 hours',Moderate,BCA,Yes,4,5,Yes,1
4,32,Female,25,Jaipur,Student,4,0,8.13,3,0,'5-6 hours',Moderate,M.Tech,Yes,1,1,No,0

In [5]:
df.tail()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
27896,140685,Female,27,Surat,Student,5,0,5.75,5,0,'5-6 hours',Unhealthy,'Class 12',Yes,7,1,Yes,0
27897,140686,Male,27,Ludhiana,Student,2,0,9.40,3,0,'Less than 5 hours',Healthy,MSc,No,0,3,Yes,0
27898,140689,Male,31,Faridabad,Student,3,0,6.61,4,0,'5-6 hours',Unhealthy,MD,No,12,2,No,0
27899,140690,Female,18,Ludhiana,Student,5,0,6.88,2,0,'Less than 5 hours',Healthy,'Class 12',Yes,10,5,No,1
27900,140699,Male,27,Patna,Student,4,0,9.24,1,0,'Less than 5 hours',Healthy,BCA,Yes,2,3,Yes,1

In [6]:
df.shape

(27901, 18)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  int64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  int64
 6   Work Pressure                          27901 non-null  int64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  int64
 9   Job Satisfaction                       27901 non-null  int64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  int64
 15  Financial Stress                       27901 non-null  object
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.8+ MB

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.isnull().sum()

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [10]:
df.dtypes

id                                         int64
Gender                                    object
Age                                        int64
City                                      object
Profession                                object
Academic Pressure                          int64
Work Pressure                              int64
CGPA                                     float64
Study Satisfaction                         int64
Job Satisfaction                           int64
Sleep Duration                            object
Dietary Habits                            object
Degree                                    object
Have you ever had suicidal thoughts ?     object
Work/Study Hours                           int64
Financial Stress                          object
Family History of Mental Illness          object
Depression                                 int64
dtype: object

In [11]:
df['Profession'].unique()

array(['Student', "'Civil Engineer'", 'Architect', "'UX/UI Designer'",
       "'Digital Marketer'", "'Content Writer'",
       "'Educational Consultant'", 'Teacher', 'Manager', 'Chef', 'Doctor',
       'Lawyer', 'Entrepreneur', 'Pharmacist'], dtype=object)

In [12]:
df.Profession

0        Student
1        Student
2        Student
3        Student
4        Student
          ...
27896    Student
27897    Student
27898    Student
27899    Student
27900    Student
Name: Profession, Length: 27901, dtype: object

In [13]:
df.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Depression
count,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000
mean,70442.149421,25.822300,3.141214,0.000430,7.656104,2.943837,0.000681,7.156984,0.585499
std,40641.175216,4.905687,1.381465,0.043992,1.470707,1.361148,0.044394,3.707642,0.492645
min,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35039.000000,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,0.000000
50%,70684.000000,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,1.000000
75%,105818.000000,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,1.000000
max,140699.000000,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,1.000000

In [14]:
df.describe(include='object')

,Gender,City,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Financial Stress,Family History of Mental Illness
count,27901,27901,27901,27901,27901,27901,27901,27901,27901
unique,2,52,14,5,4,28,2,6,2
top,Male,Kalyan,Student,'Less than 5 hours',Unhealthy,'Class 12',Yes,5,No
freq,15547,1570,27870,8310,10317,6080,17656,6715,14398

In [16]:
df["Gender"].value_counts()

Gender
Male      15547
Female    12354
Name: count, dtype: int64

In [17]:
df["Depression"].value_counts()

Depression
1    16336
0    11565
Name: count, dtype: int64

In [18]:
df["Family History of Mental Illness"].value_counts()

Family History of Mental Illness
No     14398
Yes    13503
Name: count, dtype: int64

In [61]:
ds=df.groupby(["Depression", "Family History of Mental Illness"])["id"].nunique().sort_values(ascending=False)
## The number of students who have depression with a family history is more than others.
ds

Depression  Family History of Mental Illness
1           Yes                                 8273
            No                                  8063
0           No                                  6335
            Yes                                 5230
Name: id, dtype: int64

In [22]:
df.groupby(["Depression", "Academic Pressure"])["id"].nunique().sort_values(ascending=False)
## The number of students who have depression with academic pressure is more than others.

Depression  Academic Pressure
1           5                    5420
            3                    4489
            4                    3925
0           1                    3869
            3                    2973
            2                    2612
1           2                    1566
0           4                    1230
1           1                     932
0           5                     876
            0                       5
1           0                       4
Name: id, dtype: int64

In [23]:
df.groupby(["Depression", "Work Pressure"])["id"].nunique().sort_values(ascending=False)
## The number of students who have depression with zero work pressure is more than others.

Depression  Work Pressure
1           0                16335
0           0                11563
            2                    1
            5                    1
1           5                    1
Name: id, dtype: int64

In [25]:
df['Work Pressure'].unique()

array([0, 5, 2])

In [26]:
df.groupby(["Depression", "Profession"])["id"].nunique().sort_values(ascending=False)
## The number of students who have depression is more than others.

Depression  Profession
1           Student                     16308
0           Student                     11562
1           Architect                       7
            Teacher                         5
            Pharmacist                      2
            Chef                            2
            Doctor                          2
            'Content Writer'                2
            'Digital Marketer'              2
0           'Digital Marketer'              1
            Architect                       1
1           'Educational Consultant'        1
0           Teacher                         1
1           'Civil Engineer'                1
            'UX/UI Designer'                1
            Entrepreneur                    1
            Lawyer                          1
            Manager                         1
Name: id, dtype: int64

In [27]:
df.groupby(["Depression", "CGPA"])["id"].nunique().sort_values(ascending=False)
## The number of students who have depression with aprx high CGPA is more than others.

Depression  CGPA
1           8.04    533
0           8.04    288
1           9.96    274
            8.95    232
            5.74    222
                   ...
0           6.98      1
            6.77      1
            6.06      1
            6.09      1
            5.78      1
Name: id, Length: 652, dtype: int64

In [30]:
df.groupby(["Depression", "Study Satisfaction"])["id"].nunique().sort_values(ascending=False)
## The number of students who study satisfaction =1,2 "not very satisfied" (it varies between them) have depression more than others

Depression  Study Satisfaction
1           1                     3857
            2                     3768
            3                     3353
            4                     3264
0           4                     3095
            3                     2468
            5                     2334
1           5                     2088
0           2                     2070
            1                     1594
1           0                        6
0           0                        4
Name: id, dtype: int64

In [32]:
df.groupby(["Depression", "Job Satisfaction"])["id"].nunique().sort_values(ascending=False)
## The number of students who work satisfaction =0 "not satisfied" with their work satisfaction has depression more than others.

Depression  Job Satisfaction
1           0                   16332
0           0                   11561
1           2                       2
0           1                       1
            2                       1
            4                       1
            3                       1
1           1                       1
            4                       1
Name: id, dtype: int64

In [35]:
df.groupby(["Depression", "Dietary Habits"])["id"].nunique().sort_values(ascending=False)
##The number of students who are unhealthy, have depression more than others.

Depression  Dietary Habits
1           Unhealthy         7297
            Moderate          5558
0           Moderate          4363
            Healthy           4178
1           Healthy           3473
0           Unhealthy         3020
1           Others               8
0           Others               4
Name: id, dtype: int64

In [36]:
df.groupby(["Depression", "Degree"])["id"].nunique().sort_values(ascending=False)
##The number of students who are in class 12, have depression more than others.

Depression  Degree
1           'Class 12'    4303
0           'Class 12'    1777
1           B.Ed          1021
            B.Arch         871
            B.Com          853
0           B.Ed           846
1           BCA            819
            MSc            679
            B.Tech         655
0           B.Com          653
            BCA            614
            B.Arch         607
1           MCA            559
            BSc            523
            M.Tech         521
0           MSc            511
1           BHM            509
0           M.Tech         501
            B.Tech         497
            MCA            485
1           B.Pharm        428
0           BHM            416
1           M.Ed           415
            BBA            407
0           M.Ed           406
1           MBBS           404
            M.Com          390
0           B.Pharm        382
            BSc            365
1           LLB            356
0           M.Com          344
1           BE             334
            BA             321
0           LLB            315
1           M.Pharm        314
            MBA            303
            MD             298
0           MBBS           292
1           MA             290
0           BBA            289
1           PhD            286
0           BA             279
            BE             279
            MD             274
            M.Pharm        268
1           LLM            259
0           MBA            259
            MA             254
            PhD            236
            LLM            223
1           MHM             99
            ME              98
0           MHM             92
            ME              87
1           Others          21
0           Others          14
Name: id, dtype: int64

In [37]:
df.groupby(["Depression", "Have you ever had suicidal thoughts ?"])["id"].nunique().sort_values(ascending=False)
##The number of students who have suicidal thoughts is depressed compared to others.

Depression  Have you ever had suicidal thoughts ?
1           Yes                                      13957
0           No                                        7866
            Yes                                       3699
1           No                                        2379
Name: id, dtype: int64

In [38]:
df.groupby(["Depression", "Work/Study Hours"])["id"].nunique().sort_values(ascending=False)
##The number of students who study 10-12 h is depressed compared to others.

Depression  Work/Study Hours
1           10                  2979
            12                  2169
            11                  1960
            8                   1568
            6                   1288
0           10                  1255
1           9                   1214
            7                   1176
0           0                   1096
            12                  1003
            6                    959
            8                    941
            11                   932
            2                    894
            7                    825
1           4                    815
0           9                    812
            4                    799
            3                    773
1           5                    706
            3                    697
            2                    696
0           1                    686
1           0                    604
0           5                    590
1           1                    464
Name: id, dtype: int64

In [39]:
df.groupby(["Depression", "Financial Stress"])["id"].nunique().sort_values(ascending=False)
##The number of students who have 5/5 Financial Stress is depressed compared to others.

Depression  Financial Stress
1           5                   5458
            4                   3990
0           1                   3489
1           3                   3080
0           2                   2886
1           2                   2175
0           3                   2146
            4                   1785
1           1                   1632
0           5                   1257
            ?                      2
1           ?                      1
Name: id, dtype: int64

In [40]:
df.groupby(["Depression", "Age"])["id"].nunique().sort_values(ascending=False)
##The number of students who are 20s is depressed compared to others.

Depression  Age
1           20     1579
            24     1509
            28     1308
            18     1216
            21     1169
0           33     1155
1           29     1103
            19     1100
            25     1082
0           34     1066
1           23     1051
            27      887
0           29      847
            28      825
            24      749
            31      741
1           33      738
0           25      702
1           22      701
            31      686
0           30      671
1           26      663
0           20      658
1           32      655
0           32      607
            23      594
            27      575
            21      557
            26      492
1           30      474
0           19      460
            22      459
1           34      402
0           18      371
            35        8
            36        6
            38        6
1           38        2
            39        2
0           48        2
            42        2
            37        2
1           35        2
            42        2
0           44        1
            43        1
            39        1
            46        1
            58        1
            59        1
            51        1
            56        1
            54        1
            49        1
1           36        1
            41        1
            43        1
            46        1
            48        1
Name: id, dtype: int64

In [41]:
## How does academic pressure relate to CGPA?
correlation_CGPA_pressure = df.groupby('Academic Pressure')['CGPA'].mean().reset_index()
print("Average CGPA based on Academic Pressure:")
print(correlation_CGPA_pressure)

Average CGPA based on Academic Pressure:
   Academic Pressure      CGPA
0                  0  2.173333
1                  1  7.724066
2                  2  7.699495
3                  3  7.646876
4                  4  7.616541
5                  5  7.626653

In [48]:
## What is the distribution of depression by gender?
gender_depression_distribution = df.groupby(['Gender', 'Depression']).size().unstack(fill_value=0)
print("Distribution of Depression by Gender:")
print(gender_depression_distribution)

Distribution of Depression by Gender:
Depression     0     1
Gender
Female      5133  7221
Male        6432  9115

In [51]:
## Does sleep duration affect depression? 
sleep_depression_relation = df.groupby(['Sleep Duration', 'Depression']).size().unstack(fill_value=0)
print("Depression cases based on Sleep Duration:")
print(sleep_depression_relation)

Depression cases based on Sleep Duration:
Depression              0     1
Sleep Duration
'5-6 hours'          2666  3517
'7-8 hours'          2975  4371
'Less than 5 hours'  2949  5361
'More than 8 hours'  2966  3078
Others                  9     9

In [52]:
 ## Is there a link between financial stress and suicidal thoughts?
financial_stress_suicidal_thoughts = df.groupby(['Financial Stress', 'Have you ever had suicidal thoughts ?']).size().unstack(fill_value=0)
print("Financial Stress and Suicidal Thoughts Correlation:")
print(financial_stress_suicidal_thoughts)

Financial Stress and Suicidal Thoughts Correlation:
Have you ever had suicidal thoughts ?    No   Yes
Financial Stress
1                                      2656  2465
2                                      2318  2743
3                                      1879  3347
4                                      1758  4017
5                                      1631  5084
?                                         3     0

In [59]:
df.to_excel("cleaned data,capstone.xlsx", index=False)